In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import pandasql as ps

In [2]:
df = pd.read_csv("query_one.csv")

In [3]:
df.head()

   user_id          page  unix_timestamp
0     6684     home_page      1451640067
1     8098     home_page      1451647141
2     9440     home_page      1451653638
3     1003     home_page      1451611211
4     4272  product_page      1451628024

In [4]:
df.shape

(10000, 3)